.alignmentClass {
    display: flex;
}

.rectanglePart {
    height:5vh;
    width: 10vw;
    background-color: #49748C;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 0.5vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.3vh;
    font-weight: bold;
    color: white;
}

.trianglePart {
    height: 0;
    width: 0;
    border-top: 3.09vh solid #49748C;
    border-left: 2vh solid transparent;
    border-right: 1.5vh solid #49748C;
    border-bottom: 2vh solid transparent;
}

